<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<false/>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935162396511-23681auuorb05k4518ndt9somhvhsvri</string>
	<key>API_KEY</key>
	<string>AIzaSyDiJvVB5Bt4zUgMR52WtMuYEck1-4yZgMY</string>
	<key>GCM_SENDER_ID</key>
	<string>935162396511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yasinagbulut.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-1d85c</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-1d85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:935162396511:ios:f9e9346c0b0cd3663980ea</string>
</dict>
</plist>
